<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.liferdeal">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/liefradeal_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/liefradeal_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/MAP_API_KEY" />

        <activity
            android:name=".ui.activity.searching.SearchAddressGooglePlacesActivity"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.login.SignInActivity"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.login.SignUpActivity"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.fragment.LocationMapFragment"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.cart.CartCheckout"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.restaurant.TimeListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.cart.ThankyouPageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.tickets.TicketList"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.tickets.AddTicket"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.profile.ContactUs"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.profile.ReferEarnFrndActivity"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.restaurant.MyOrderActivity"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.profile.ChangePassword"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.restaurant.MyOrderDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.restaurant.OrderTrackActivity"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.restaurant.RestaurantDetails"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.restaurant.RestaurantPhotoGallery"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.restaurant.RestaurantMenuPhotoGallery"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.restaurant.WriteAReviewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.restaurant.InfoRestMenuActivity"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.restaurant.DiscountOrderActivity"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.restaurant.RestMenuReviewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".ui.activity.restaurant.RestaurantBookTable"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.restaurant.AddClickDetails"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.restaurant.AddExtraActivity"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.cart.CartActivity"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.restaurant.AddressActivity"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.restaurant.AddAddressActivity"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.restaurant.CusineFilter"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            />
        <activity
            android:name=".ui.activity.profile.ProfileActivity"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.profile.AboutUsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.profile.PrivacyAndPolicy"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.profile.HelpSupportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.profile.LoyaltyPoints"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.profile.EditUpdateProfileActivity"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>